@model IEnumerable<AlarmOS.Models.Alarmy>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Stat";
}

<h3>Statystyki użytkowników</h3>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Pracownik
            </th>
            <th>
            </th>
            <th>
                Ile alarmów dodał
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                </td>
                <td>
                </td>
                <td>
                        @ViewData["Lasts"]
                    </td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>
