@model IEnumerable<AlarmOS.Models.Alarmy>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Stat";
}

    <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
            <a class="nav-link active" href="#">Statystyki użytkowników</a>
        </li>
    </ul>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Pracownik
            </th>
            <th>
                Poziom
            </th>
            <th>
                Id alarmów jakie dodał
            </th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UseId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Level2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)

                </td>
            </tr>
        }
    </tbody>
</table>
